* {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	transition: all 1s ease;

}

body {
	min-height: 100%;
	min-width: 100%;
}

.aligner {
	text-align: center;
}

.centering {
	margin: 0px auto;
}


#snake-field{
	width: 50%;
	height: 80vh;
	background: black;
	border: 1px solid green;
}

.buttons {
	padding-top: 3%;
	width: 30%;
	height: 20vh;
}

#snake-start, #snake-renew {
	width: 150px;
	padding: 15px;
	color: white;
	background: green;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}

.game-table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

td.game-table-cell {
	width: 15px;
	height: 15px;
	border: 1px dotted #eee;
	border-collapse: collapse;
}

.snakeUnit {
	background: url(../img/snake.png) no-repeat center center;
	background-size: cover;
	/*background: white;*/
}

.foodUnit {
	background: url(../img/burger.png) no-repeat center center;
	background-size: cover;
}