* {
	margin: 0px;
	padding: 0px;
	transition: all 0.5s ease;

}

.aligner {
	text-align: center;
}

.centering {
	margin: 0px auto;
}


.maincontainer {
	width: 100%;
	height: 100%;
}


#chessDesk {
	width: 50%;
	position: relative;
	padding-top: 57%;
}

#chessArea{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin-top: 5%;
}

.line {
	width: 100%;
	height: 10%;
	/*height: 100%;*/
	clear: both;
	float: left;
	
}

.sqDefault {
	width: 12.2%;
	height: 100%;
	border: 1px solid black;
	box-sizing: border-box;
	float: left;
}

.numBlock {
	width: 1.7%;
	height: 100%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding-right: 3px;
	padding-top: 4%;
}

.abcBlock {
	width: 12.2%;
	height: 100%;
	text-align: center;	
	float: left;
}

.abcLine {
	width: 100%;
	height: 2%;
	/*height: 100%;*/
	clear: both;
	float: left;	
}


.black {
	background-color: #8B4513;
}

.white {
	background-color: #fff;	
}

.chess_spr {
	height: inherit;
	/*width: inherit;*/
	background: url(../img/chess-pieces-spr.png);
	background-repeat: no-repeat;
	background-size: 550%;
	z-index: 100;
}

.black_rook {
	background-position: -1% 13%;
}

.black_horse {
	background-position: 82% 13%;
}

.black_elephant {
	background-position: 20% 13%;
}

.black_queen {
	background-position: 40.5% 13%;
}

.black_king {
	background-position: 60.9% 13%;
}

.black_pown {
	background-position: 102% 13%;
}

.white_rook {
	background-position: -1% 84%;
}

.white_horse {
	background-position: 82% 84%;
}

.white_elephant {
	background-position: 20% 84%;
}

.white_queen {
	background-position: 40.5% 84%;
}

.white_king {
	background-position: 60.9% 84%;
}

.white_pown {
	background-position: 102% 84%;
}